/* header and nav layout */
header .nav-wrapper {
  background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.95) 87%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e7eb;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' auto
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1320px;
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1440px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand,
.section.nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  height: 100%;
}

header nav .nav-brand img {
  width: 2.5rem;
  height: auto;
}

/* Fix the nested paragraph and anchor alignment */
.section.nav-brand .default-content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.section.nav-brand .default-content-wrapper p {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section.nav-brand .default-content-wrapper p a {
  display: flex;
  align-items: center;
}

/* General navbar styling */
.section.nav-sections {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 100%;
}

.section.nav-sections .default-content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
  width: 100%;
}

.section.nav-sections ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.button-container {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Ensure the navigation bar is fully responsive */
nav {
  width: 100%;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: block;
  visibility: visible;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* Header-specific button styles */
header nav a.button:any-link {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--button-bg-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header nav a.button:hover,
header nav a.button:focus {
  background-color: var(--button-hover-bg-color);
  box-shadow: var(--button-hover-shadow);
  cursor: pointer;
}

header nav a.button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

/* Style for all navbar links */
.section.nav-sections ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Outfit', sans-serif;
  position: relative;
}

/* Style for Home link specifically */
.section.nav-sections ul li a[title="Home"] {
  color: rgb(132, 204, 22);
  text-decoration: none;
}

.section.nav-sections ul li a[title="Home"]::after {
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -4px;
  height: 2px;
  background-color: rgb(132, 204, 22);
}

/* Hover style for all navbar links */
.section.nav-sections ul li a:hover {
  color: rgb(132, 204, 22);
  text-decoration: none;
}

.section.nav-sections ul li a:hover::after {
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -4px;
  height: 2px;
  background-color: rgb(132, 204, 22);
}